{% extends "bootstrap/base.html" %}

{% block title %} clb {% endblock %}

{% block head %}
    {{super()}}
<!--clb-->
    <script src="{{url_for('static',filename='Javastrap.js')}}"></script>
    <script>
        var str = "http://127.0.0.1:5000/static/styles.css?radom="+Math.random();
        var head = document.getElementsByTagName('head')[0],
        cssURL = str,
        linkTag = document.createElement('link');
        linkTag.id = 'dynamic-style';
        linkTag.href = cssURL;
        linkTag.setAttribute('rel','stylesheet');
//        linkTag.setAttribute('media','all');
        linkTag.setAttribute('type','text/css');
        head.appendChild(linkTag);
    </script>
{% block append %}{% endblock %}
{% endblock %}

{% block navbar%}
    <div class="container">
        <div class="nav">
            <ul class="nav nav-pills nav-justified">
                <li class=""><a href="{{url_for('main.index')}}">home</a></li>
                <li><a href="#">Object-C</a></li>
                <li><a href="#">Python</a></li>
                <li><a href="#">词典</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        前端<span class="caret">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JS</a></li>
                        <li class="divider"></li>
                        <li><a href="#">JQuery</a></li>
                        <li><a href="{{url_for('main.bootstrap')}}">Bootstrap</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        用户<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('main.login')}}">登陆</a></li>
                        <li><a href="{{url_for('main.regist')}}">注册</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
{% endblock %}

{% block content%}
   {% for message in get_flashed_messages()%}
     <div class="container">
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">
                &times;
            </button>
            {{message}}
        </div>
    </div>
    {% endfor%}

    <div class="clb_divider_height"></div>
    {%block page_content%}{%endblock%}
{% endblock %}

{%block scripts %}
    {{super()}}
{% endblock %}


