{% extends 'base.html'%}


{% block page_content %}
    <div class="page-header">
        <img class="img-rounded profile-thumbnail" src="{{user.gravator(size = 256)}}">
        <div class="profile-header">
            <h1>{{user.username}}</h1>
            {% if user.name or user.location%}
            <p>
                {% if user.name%} {{user.name}} {%endif%}
                {% if user.location%}
                From <a href="http://maps.google.com/?q={{ user.location }}">
                {{ user.location }}
            </a>
                {%endif%}
            </p>
            {% endif %}

            {%if current_user.is_administrator()%}
            <p><a href="mailto:{{user.email}}">{{user.email}}</a></p>
            {%endif%}

            {%if user.about_me%}
            <p>{{user.about_me}}</p>
            {% endif%}
            <!--需要在模版的 sript 块中引入moment-->
            <p>Member since {{ moment(user.member_since).format('L') }}</p>
            <p>Last seen {{ moment(user.last_seen).fromNow(refresh=True) }}</p>
            <p>
                {%if user == current_user %}
                <a class="btn btn-default" href="{{url_for('.edit_profile')}}">
                    Edit Profile
                </a>

                {% endif %}
            </p>
        </div>
    </div>
{% endblock%}
